.title {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #0D0D0D;
    text-transform: uppercase;
    &_white {
        font-size: 36px;
        line-height: 54px;
        text-align: left;
        color: #FFFFFF;
    }
    &_light {
        font-weight: 300;
    }
}

@media (max-width: 992px) {
    .title {
        font-size: 28px;
        &_white {
            font-size: 32px;
            line-height: 48px;
        }
    }
    
}

@media (max-width: 768px) {
    .title {
        font-size: 26px;
        &_white {
            font-size: 24px;
            line-height: 36px;
        }
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 22px;
        &_white {
            font-size: 18px;
            line-height: 28px;
        }
        &_light {
            font-size: 20px;
        }
    }
}