.advantages {
    padding: 70px 100px 65px 100px;
    background: #F6F6F6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__bloks {
        max-width: 270px;
    }
    &__img {
        display: block;
        margin: 0 auto;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #0D0D0D;
        margin-top: 42px;
    }
    &__description {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        margin-top: 20px;
        span {
            color: #FF0000;
        }
    }
}

@media (max-width: 992px) {
    .advantages {
        padding: 70px 0 65px 0;
        &__bloks {
            max-width: 210px;
        }
    }
}

@media (max-width: 768px) {
    .advantages {
        padding-bottom: 25px;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
        }
        &__bloks {
            max-width: 400px;
        }
        &__subtitle {
            margin-top: 20px;
        }
        &__description {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #0D0D0D;
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 576px) {
    .advantages {
        &__wrapper {
            margin-top: 40px;
        }
        &__bloks {
            width: 270px;
        }
        &__subtitle {
            font-size: 16px;
            margin-top: 24px;
        }
        &__description {
            margin-top: 12px;
        }
    }
}