.catalog {
    padding-bottom: 100px;
    &__tabs {
        width: 643px;
        margin: 0 auto;
        margin-top: 50px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        width: 220px;
        height: 50px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #D0D0D0;
        box-sizing: border-box;
        margin: 0 5px;
        transform: skewX(-25deg);
        line-height: 50px;
        text-align: center;
        color: #6B6B6B;
        font-weight: 300;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s;
        div {
            transform: skewX(25deg);
        }
        &:hover {
            box-shadow: 3px 3px 20px #C70101;
            border: none;
        }
        &_active {
            background: #C70101;
            border: #C70101;
            color:#fff;
        }
    }

    &__content {
        margin: 58px 98px 0 98px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 18px;
    }
    &-item {
        position: relative;
        min-height: 442px;
        border: 2px solid #E8E8E8;
        box-sizing: border-box;
        padding: 21px;
        overflow: hidden;
        &__main {
            min-height: 340px;
            animation: slideFromLeft 0.5s forwards;
        }
        &__more {
            min-height: 320px;
            position: relative;
            animation: slideFromRight 0.5s forwards;
        }
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle {
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            color: #0D0D0D;
            margin-top: 24px;
        }
        &__descr {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #0D0D0D;
            margin-top: 24px;
        }
        &__link {
            display: block;
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            text-decoration-line: underline;
            color: #C70101;
            margin: 0 auto;
            margin-top: 14px;
            &:hover {
                text-decoration-line: none;
            }
        }
        hr {
            height: 2px;
            border-top: none;
            border-left: none;
            background: #E8E8E8;
            margin-top: 18px;
            
        }
        &__footer {
            margin-top: 18px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }
        &__price {
            font-weight: 600;
            font-size: 20px;
            color: #050505;
        }
        &__lists {
            
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            color: #555555;
            list-style-type: none;
            margin: 20px 15px 15px;
            li {
                margin-bottom: 20px;
                position: relative;
                &::before {
                    content: ''; 
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background: #C70101;
                    left: -16px;
                    top: 5px;
                }
            }
        }
    }
    
    @keyframes slideFromLeft {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }
    
    @keyframes slideFromRight {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

}

@media (max-width: 1200px) {
    .catalog {
        &__content {
            margin: 58px 0 0 0;
        }
    }
}

@media (max-width: 992px) {
    .catalog {
        &__content {
            grid-template-columns: repeat(2, 304px);
            justify-content: center;
        }
    }
}

@media (max-width: 768px) {
    .catalog {
        &__tabs {
            width: 100%;
        }
        &__tab {
            font-size: 16px;
        }
        &-item {
            &__price {
                font-size: 16px;
            }
            &__lists {
            margin: 10px 10px;
            }
        }
        &__content {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 576px) {
    .catalog {
        padding-bottom: 50px;
        &__tabs {
            width: 100%;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__tab {
            margin: 10px 0;
            &_active {
                background: #C70101;
                border: #C70101;
                color:#fff;
            }
        }
    
        &__content {
            margin-top: 38px;
            grid-template-columns: 300px;
            justify-content: center;
        }
    }
}